{% include "header.html" %}
<div class="index-page">
    <!-- Navbar -->
    <nav class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-3">
                <h4 class="text-white"><a class="nav-link active" href="#">About Cirkus Cafe</a></h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
                <h4 class="text-white"><a class="nav-link active" href="#">Register</a></h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
                <h4 class="text-white"><a class="nav-link active" href="#">Login</a></h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
                <h4 class="text-white"><a class="nav-link active" href="#"></a></h4>

            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </nav>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand-center" style="color: white;">Cirkus Cafe</a>
        </nav>
    </div>

    <div class="container-md content">
        <div class="col-12">
            <h1 class="definition">Navigate thorough the circus of the Power & Politics</h1>
        </div>
        <div class="col-12">
            <p>This is a page that might help you navigate through the politics and
                foreign policy. Czech republic has more than 8000 thousend politics in their office.
                Ambition of this page is to inform you about those individuals.
                This page also work as a platform to discuss politics and news form this field.
                Importance of this ambition is immense so explore this piece of puzzle and question your local
                politician.</p>
        </div>
    </div>

    {% include "footer.html" %}
